@model SHM_Smart_Hospital_Management_.Models.Hospital

@{
    ViewData["Title"] = "Create";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
}
<form asp-action="Create" method="post" class="All_form" style="background-color:white" id="form" onsubmit="event.preventDefault(MyValidations());">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="All_div col-12">
                <label asp-for="Ho_Name"></label>
                <input asp-for="Ho_Name" /><br />
                <span asp-validation-for="Ho_Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Ho_Subscribtion_Date" />
            <input type="hidden" asp-for="Active" />
            <div class="All_div col-12">
                <label>المدينة</label>
                <select id="City" asp-items="@ViewBag.Cities">
                </select>
            </div>
            <div class="All_div col-12">
                <label asp-for="Area_Id"></label>
                <select id="Area" asp-for="Area_Id" asp-items="@ViewBag.Areas">
                </select><br>
                <span id="areaValidateSpan" class="text-danger"></span>
            </div>
            <table>
                <tr id="tr0">
                    <td>
                        <div class="col-12 All_div">
                            <input class="ValidateNumber" type="text" name="pn" min="10" maxlength="10" placeholder="ادخل رقم الموبايل" required />
                            <span id="phoneValidateSpan0" class="text-danger"></span>

                        </div>
                    </td>
                    <td>
                    </td>

                    <td>
                        <div class="col-12">
                            <span id="span0"></span>
                            <input type="button" onclick="Add(this)" value="إضافة رقم الموبايل" style="margin: 10px 0px; width: 63%; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                        </div>
                    </td>
                </tr>
            </table>

            <div class="All_div col-12">
                <input type="submit" value="إضافة مشفى" />
            </div>
        </div>
    </div>
    <a asp-controller="Admin" asp-action="Master">العودةإلى الصفحة الرئيسية</a>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/addPhoneNumbers3.js"></script>
    <script src="~/Validations.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {

        $("#City").change(function () {
            var selectedCity = $("#City").val();
            var AreasSelect = $("#Area");
            AreasSelect.empty();
            if (selectedCity != null && selectedCity != "") {
                $.getJSON('@Url.Action("GetAreas")', { CityId: selectedCity }, function (Areas) {
                    if (Areas != null && !jQuery.isEmptyObject(Areas)) {
                        AreasSelect.append($('<option/>', { value: null, text: "اختر المنطقة" }));

                        $.each(Areas, function (index, area) {
                           AreasSelect.append($('<option/>', { value: area.value, text: area.text }));
                        });
                    };
                });

            }
        });
    });
    </script>
}
