@model SHM_Smart_Hospital_Management_.Models.Employee

@{
    ViewData["Title"] = "CreateManager";
}

@section Styles{
    <link href="~/Medicio2/Create.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee_First_Name" class="control-label"></label>
                <input asp-for="Employee_First_Name" class="form-control" />
                <span asp-validation-for="Employee_First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Middle_Name" class="control-label"></label>
                <input asp-for="Employee_Middle_Name" class="form-control" />
                <span asp-validation-for="Employee_Middle_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Last_Name" class="control-label"></label>
                <input asp-for="Employee_Last_Name" class="form-control" />
                <span asp-validation-for="Employee_Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_EmailName" class="control-label"></label>
                <input required asp-for="Employee_EmailName" class="form-control" />
                <span asp-validation-for="Employee_EmailName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Employee_Email" />
            <input type="hidden" asp-for="Employee_Password" />
            <input type="hidden" asp-for="Employee_Hire_Date" />
            <div class="form-group">
                <label asp-for="Employee_National_Number" class="control-label"></label>
                <input asp-for="Employee_National_Number" class="form-control" />
                <span asp-validation-for="Employee_National_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Gender" class="control-label"></label>
                <select asp-for="Employee_Gender">
                    <option value="ذكر">ذكر</option>
                    <option value="أنثى">أنثى</option>
                </select>
            </div>
            <input type="hidden" asp-for="Employee_X_Y" />
            <div class="form-group">
                <label asp-for="Employee_Family_Members" class="control-label"></label>
                <input asp-for="Employee_Family_Members" class="form-control" />
                <span asp-validation-for="Employee_Family_Members" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Employee_Job" />
            <div class="form-group">
                <label asp-for="Employee_Social_Status" class="control-label"></label>
                <select asp-for="Employee_Social_Status">
                    <option value="عازب/ة">عازب/ة</option>
                    <option value="متزوج/ة">متزوج/ة</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Birth_Date" class="control-label"></label>
                <input asp-for="Employee_Birth_Date" class="form-control" />
                <span asp-validation-for="Employee_Birth_Date" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Active" />

            <div class="form-group">
                <label class="control-label">City</label>
                <select id="City" asp-for="Employee_Birth_Place" asp-items="@ViewBag.Cities" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Area_Id" class="control-label"></label>
                <select id="Area" asp-for="Area_Id" asp-items="@ViewBag.Areas" class="form-control">
                </select>
            </div>
            <table>
                <tr id="tr0">
                    <td><div class="col-12 All_div"><input type="text" name="pn" placeholder="Enter Phone Number" required /></div></td>
                    <td>
                    </td>
                    <td>
                        <div class="col-12">
                            <span id="span0"></span>
                            <input type="button" onclick="Add(this)" value="Add" style="margin: 10px 0px; width: 63%; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" asp-for="Ho_Id" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/addPhoneNumbers.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {

        $("#City").change(function () {
            var selectedCity = $("#City").val();
            var AreasSelect = $("#Area");
            AreasSelect.empty();
            if (selectedCity != null && selectedCity != "") {
                $.getJSON('@Url.Action("GetAreas")', { CityId: selectedCity }, function (Areas) {
                    if (Areas != null && !jQuery.isEmptyObject(Areas)) {
                        AreasSelect.append($('<option/>', { value: null, text: "اختر المنطقة" }));

                        $.each(Areas, function (index, area) {
                           AreasSelect.append($('<option/>', { value: area.value, text: area.text }));
                        });
                    };
                });
            }
        });
    });
    </script>
}
