@model IEnumerable<SHM_Smart_Hospital_Management_.Models.Hospital>
@{
    ViewData["Title"] = "LogIn";
}
@section Styles{
    <link rel="icon" type="image/png" href="~/Medicio2/login/images/icons/favicon.ico" />
    <link href="~/Medicio2/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Medicio2/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Medicio2/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/Medicio2/login/logindoctor/css/util.css" rel="stylesheet" />
    <link href="~/Medicio2/login/loginmng/css/Main.css" rel="stylesheet" />
}
<div class="limiter">
    <div class="container-login100" style="background-image: url('~/AppImage/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" asp-action="LogInHoMgr" method="post" style=" height: 80vh; ">


                <img src="~/Medicio2/dashborde/img/mng.jpg" class="text-centr" />

                <span class="login100-form-title p-b-34 p-t-27" style="padding:10px;">
                    تسجيل دخول
                </span>
                <p style="color: brown; text-align: center; font-size: large; text-shadow: -6px 0px 7px grey;">@TempData["LogInFailed"]</p>
                <div class="wrap-input100">
                    <input class="input100" type="text" name="email" placeholder="إسم المستخدم" required>
                    <span class="focus-input100" data-placeholder="&#xf207;"></span><span class="input-group-text" id="basic-addon2">&#64;Manger.com</span>
                </div>

                <div class="wrap-input100">
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                    <input class="input100" type="password" name="password" autocomplete="current-password" id="id_password" placeholder="كلمة السر" required>
                    <span class="focus-input100" data-placeholder="&#xf191;">	</span>
                </div>

                <div class="hospital">
                    <i class="fas fa-hospital-user hos-icon"></i>
                    <select name="hospital" class="hos-select">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Ho_Id">@item.Ho_Name</option>
                        }
                    </select>
                </div>

                <div class="container-login100-form-btn">
                    @* firebase *@
                    <input type="hidden" id="fcmToken" name="fcmToken" />
                    <button type="submit" class="login100-form-btn">
                        تسجيل دخول
                    </button>
                </div>
                <a asp-controller="Home" asp-action="Index" class="back" style="margin:0px 10px; bottom:30px;"><i class="bi bi-arrow-left-short"></i> العودة إلى الصفحة الرئيسية </a>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
@section Scripts{
    <script>
        window.history.forward();
    </script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Medicio2/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Medicio2/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Medicio2/login/js/main.js"></script>

    <script type="module" src="~/firebase/src/getToken1.js"></script>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
        });
    </script>
}